portalocker
termcolor
numpy
tqdm
docutils>=0.14
# https://github.com/sphinx-doc/sphinx/commit/7acd3ada3f38076af7b2b5c9f3b60bb9c2587a3d
git+git://github.com/sphinx-doc/sphinx.git@7acd3ada3f38076af7b2b5c9f3b60bb9c2587a3d
sphinx_rtd_theme
sphinx-markdown-tables
mock
matplotlib
tabulate
cloudpickle
Pillow
future
requests
easydict
recommonmark==0.6.0
six
https://download.pytorch.org/whl/cpu/torch-1.5.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
pycocotools>=2.0.2
pydot
seaborn
pandas
appdirs
shapely
psutil
hydra-core
lvis
cityscapesscripts
